<section id="contenedorCentral">
		<section id="menuPrincipal">
		<nav id="navPrincipal">
			<ul >
				<li><%= link_to "Operador", panelOperador_path %></li>
        		<li><%= link_to "Supervisor", panelSupervisor_path %></li>
			 	<li><%= link_to "Validador", panelValidador_path %></li>
			 	<li><%= link_to "Administrador", panelAdministrador_path %></li>
			 </ul>
		</nav>
		</section>			
</section>
