<section id="contenedorCentralRegistro">
	<h2>
		Puedes registrarte como jugador o como dueño de canchas de fulbito.
	</h2>

	<section id="cont1">
			
		<article >

			<h3>Registrate como jugador</h3>
			<P id="bazul"><%= link_to "Registrarse", registroJugador_path %></p>

		</article>
	</section>			
	<section id="cont2">
		<article>
			<h3>Registrate como dueño de canchas</h3>

			<P id="bazul"><%= link_to "Registrarse", registroDueno_path %></p>
			

			

		</article>
	</section>				
</section>
