Panel Supervisor
		<section id="menuPaneles">
		<nav id="navMenuPaneles">
			<ul >
				<li><%= link_to "Campanhas", campaings_path %></li>
        		<li><%= link_to "Operadores", operadors_path %></li>
			 	<li><%= link_to "Reportes", supervisors_path %></li>
			 	<li><%= link_to "Consultas", operadors_path %></li>
			 </ul>
		</nav>
		</section>	