Panel Administrador

		<section id="menuPaneles">
		<nav id="navMenuPaneles">
			<ul >
				<li><%= link_to "Clientes", customers_path %></li>
        		<li><%= link_to "Servicios", services_path %></li>
			 	<li><%= link_to "Supervisores", supervisorese_path %></li>
			 	<li><%= link_to "Operadores", operadors_path %></li>
			 </ul>
		</nav>
		</section>	